<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アップロード</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Eturan.css') }}">
</head>
<body>
    <h1>アップロード</h1>
    <ol>
        <li><a href="/eturan">アップロードの閲覧</a></li>
        <li><a href="/grayscale">グレイスケール</a></li>
        <li><a href="/rinkaku">輪郭</a></li>
        <li><a href="/waku">枠</a></li>
    </ol>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="example" accept=".png" required>
        <button type="submit">送信する</button>
      </form>
</body>
</html>