<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>輪郭抽出</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Eturan.css') }}">
</head>
<body>
    <h1>輪郭抽出</h1>
    <title>輪郭</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Eturan.css') }}">
</head>
<body>
    <h1>輪郭</h1>
    <ol>
        <li><a href="/upload">アップロード</a></li>
        <li><a href="/eturan">アップロードの閲覧</a></li>
        <li><a href="/grayscale">グレイスケール</a></li>
        <li><a href="/waku">枠</a></li>
    </ol>
</body>
</html>